<div id="sidebar">
    <div class="sbox">
        <h3>Collections</h3>
        <ul>
            <li><a href="#" class="active">All entries <span class="sbox-count"><%= get_iotas.size %></span></a></li>
            <li class="sep"></li>
            <% for collection in collections do %>
                <li><a href="#"><%= collection.title %> <span class="sbox-count"><%= collection.size %></span></a></li>
            <% end %>
            <li class="sep"></li>
            <li><a href="/collections/new">+ New collection</a></li>
        </ul>
    </div>

    <div class="sbox">
        <h3>Filter by type</h3>
        <ul>
            <li><a href="#">All types <span class="sbox-count">342</span></a></li>
            <% PLURAL_IOTA_TYPE_LABELS.each do |label| %>
                <li><a href="#"><%=label %> <span class="sbox-count"><%= rand(999) %></span></a></li>
            <% end %>
            <li><a href="#">Other <span class="sbox-count">60</span></a></li>
        </ul>
    </div>

    <div class="sbox">
        <h3>Tag cloud</h3>
        <div class="tag-cloud">
            <% for tag, css_class in get_tag_cloud %>
                <a href="#" <%= css_class ? "class=\"#{css_class}\"" : "" %>><%= tag %></a>
            <% end %>
        </div>
    </div>

    <div class="sbox">
        <h3>Recent</h3>
        <ul>
            <% for iota in get_recent_iotas do %>
                <li><a href="/iotas/<%= iota.id %>"><%= iota.title %></a></li>
            <% end %>
        </ul>
    </div>
</div>