<!DOCTYPE html>
<html lang="en">
<%= erb :_head %>
<body>
    <%= erb :_header %>
    <div id="page">
        <%= erb :_sidebar, locals: { collections: @collections } %>
        <div id="main">
            <%= erb :_breadcrumb %>
            <%= erb :_collection_form %>
        </div>
    </div>
    <%= erb :_footer %>
</body>
</html>