<% page = defined?(page) ? page : 'Iotas' %>

<div id="header">
    <div id="header-inner">
        <img id="logo-image" src="/ark.png">
        <a href="/" id="logo-text"><%= APP_TITLE %><span><%= APP_SUBTITLE %></span></a>
        <nav id="header-nav">
            <a href="/iotas" class="<%= page == 'Iotas' ? 'active' : '' %>">Entries</a>
            <a href="/collections" class="<%= page == 'Collections' ? 'active' : '' %>">Collections</a>
            <a href="/iotas?type=writing" class="<%= page == 'Writings' ? 'active' : '' %>">Writings</a>
            <a href="/iotas?type=picture" class="<%= page == 'Pictures' ? 'active' : '' %>">Pictures</a>
            <a href="/iotas?type=object" class="<%= page == 'Objects' ? 'active' : '' %>">Objects</a>
            <a href="/settings" class="<%= page == 'Settings' ? 'active' : '' %>">Settings</a>
            <% unless current_user %>
                <a href="/login" class="<%= page == 'Login' ? 'active' : '' %>">Login</a>
            <% else %>
                <a href="/logout">Logout</a>
            <% end %>
        </nav>
        <div id="header-search">
            <input id="search-input" type="text" placeholder="search archive...">
            <button id="search-button">Search</button>
        </div>
    </div>
</div>

<script>
    const search_input = document.getElementById('search-input')
    const search_button = document.getElementById('search-button')

    search_input.onkeypress = (event) => {
        if (event.key == 'Enter') {
            window.location = '/iotas?q=' + encodeURIComponent(search_input.value)
        }
    }

    search_button.onclick = (event) => {
        window.location = '/iotas?q=' + encodeURIComponent(search_input.value)
    }

    const logo_image = document.getElementById('logo-image')

    logo_image.onclick = (event) => {
        window.location = '/'
    }
</script>