<div class="collection-header">
    <h2><%= defined?(title) ? title : 'All Entries' %></h2>
    <span class="meta"><%= iotas.size %> entries &mdash; sorted by date added (newest first)</span>
</div>

<div class="entry-list">
    <% for iota in iotas %>
        <div class="entry">
            <input class="iota-checkbox" type="checkbox" iota_id="<%= iota.id %>">
            <div class="entry-body">
                <div class="entry-title"><a href="/iotas/<%= iota.id %>"><%= iota.title %></a></div>
                <div class="entry-meta">
                    <span>added <strong><%= iota.created_at %></strong></span>
                    <% if iota.collection %>
                        <span>in <a href="#"><%= iota.collection.title %></a></span>
                    <% end %>
                    <span>type: <a href="#"><%= iota.type %></a></span>
                </div>
                <div class="entry-desc"><%= iota.mini_description %></div>
                <div class="entry-tags">
                    <% for tag in iota.tags %>
                        <a href="/iotas?tag=<%= tag %>"><%= tag %></a>
                    <% end %>
                </div>
            </div>
            <div class="entry-actions">
                <a href="/iotas/<%= iota.id %>/edit">edit</a>
                <a href="/iotas/<%= iota.id %>/delete">delete</a>
                <a href="/iotas/<%= iota.id %>">link</a>
            </div>
        </div>
    <% end %>
</div>

<script>
    let selected_iota_ids = []

    const checkbox_doms = document.getElementsByClassName('iota-checkbox')
    for (let ix = 0; ix < checkbox_doms.length; ix++) {
        checkbox_doms[ix].oninput = () => updateSelectedIotas()
    }

    function updateSelectedIotas() {
        selected_iota_ids = []
        for (let ix = 0; ix < checkbox_doms.length; ix++) {
            let iota = checkbox_doms[ix]
            if (iota.checked) selected_iota_ids.push(iota.getAttribute('iota_id'))
        }
        console.log('Selected iota IDs: ', selected_iota_ids)
    }
</script>