<% active_collection_id ||= nil %>

<div id="sidebar">
    <div class="sbox">
        <h3>Collections</h3>
        <ul>
            <li><a href="/iotas" class="<%= active_collection_id == nil ? 'active' : '' %>">All entries <span class="sbox-count"><%= get_iotas.size %></span></a></li>
            <li class="sep"></li>
            <% for collection in get_collections do %>
                <li><a href="/collections/<%= collection.id %>" class="<%= active_collection_id == collection.id ? 'active' : '' %>">
                    <%= collection.title %> <span class="sbox-count"><%= collection.size %></span>
                </a></li>
            <% end %>
            <li class="sep"></li>
            <li><a href="/collections/new">+ New collection</a></li>
        </ul>
    </div>

    <div class="sbox">
        <h3>Filter by type</h3>
        <ul>
            <li><a href="#">All types <span class="sbox-count"><%= get_iota_counts['All types'] %></span></a></li>
            <% PLURAL_IOTA_TYPE_LABELS.each do |label| %>
                <li><a href="#"><%=label %> <span class="sbox-count"><%= get_iota_counts[label] %></span></a></li>
            <% end %>
            <li><a href="#">Other <span class="sbox-count"><%= get_iota_counts['Other'] %></span></a></li>
        </ul>
    </div>

    <div class="sbox">
        <h3>Tag cloud</h3>
        <div class="tag-cloud">
            <% for tag, css_class in get_tag_cloud %>
                <a href="#" <%= css_class ? "class=\"#{css_class}\"" : "" %>><%= tag %></a>
            <% end %>
        </div>
    </div>

    <div class="sbox">
        <h3>Recent</h3>
        <ul>
            <% for iota in get_recent_iotas do %>
                <li><a href="/iotas/<%= iota.id %>"><%= iota.title %></a></li>
            <% end %>
        </ul>
    </div>
</div>