<!DOCTYPE html>
<html lang="en">
<%= erb :_head %>
<body>
    <%= erb :_header %>
    <div id="page">
        <%= erb :_sidebar %>
        <div id="main">
            <%= erb :_breadcrumb %>
            <%= erb :_toolbar, locals: { collections: 1 } %>
            <%= erb :_collections, locals: { collections: defined?(@collections) ? @collections : get_collections } %>
            <%= erb :_pagination %>
        </div>
    </div>
    <%= erb :_footer %>
</body>
</html>